<div class="rte">
  {{ page.content }}
</div>

<center>
<div class="contact-form">

  <h2></h2>
  

  {% form 'contact' %}

    {% if form.errors %}
      {{ form.errors | default_errors }}
    {% endif %}

    {% if form.posted_successfully? %}
      <p>{{ 'general.contact_page.success_message' | t }}</p>
    {% else %}

      <div class="input-wrapper">
        <label>{{ 'general.general.name' | t }}</label>
        <input type="text" name="contact[name]" value="{{ form.name }}" required>
      </div>

      <div class="input-wrapper">
        <label>{{ 'general.general.email' | t }}</label>
        <input type="text" name="contact[email]" value="{{ form.email }}" class="{% if form.errors contains 'email' %}error{% endif %}" required>
      </div>
	<div class="input-wrapper">
           
      {% assign name_attr = 'contact.form.phone' | t | handle %}
        <label for="ContactFormPhone" class="hidden-label">Mobile</label>
        <input type="tel" id="ContactFormPhone" class="input-full" name="contact[{{ name_attr }}]" placeholder="" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
    
      </div>

      <div class="input-wrapper">
        <label>{{ 'general.general.message' | t }}</label>
        <textarea name="contact[body]" rows="5">{{ form.comments }}</textarea>
      </div>

      <div class="input-wrapper">
        <input type="submit" value="{{ 'general.contact_page.submit' | t }}" >
      </div>
  
  </center>
  
  
    {% endif %}

  {% endform %}
</div>
